:root {
  --nav-bar-height: 50px;
  --contents-bg-colour: rgb(200, 200, 200, 0.4);
}


body {
  font-family: Arial, sans-serif;
  background-clip: padding-box;
  pointer-events: none;

  overflow-x: hidden; 
}



.left, .right {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.left {
  justify-content: left;
}
.right {
  justify-content: right;
}




/*--BACKGROUND---------------------------------------------------------------------*/
.background {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
  background-color: black;
}
.menu.background {
  pointer-events: none;
  right: 60%;
  bottom: 40%;
}
.game.background {
  pointer-events: auto;
}
.globe {
  overflow: 'hidden';
}



/*--NAVBAR----------------------------------------*/
.nav.bar {
  width: 100%;
  height: var(--nav-bar-height);
  display: flex;
  align-items: center;
  justify-content: space-between;

  background: linear-gradient(to top, rgba(200, 200, 200, 0.2), rgba(200, 200, 200, 0.4));
  background-clip: padding-box;
}
.nav.left, .nav.right {
  height: 100%;
  gap: 10px;
  padding: 0 20px;
}
.nav.box {
  background-color: white;
  border: 1px solid black;
  border-radius: 4px;
}
.nav.logo {
  width: var(--nav-bar-height);
  height: 80%;

  display: flex;
  align-items: center;
  justify-content: center;
}
.nav.logoSymbol {
  width: 100%;
  height: 110%;
}
/* Very 70s of it (credits Charlie)*/
.nav.title {
  width: 240px;
  height: 80%;

  display: flex;
  justify-content: center; /* centers horizontally */
  align-items: center;
  
  white-space: nowrap;
  font-size: 40px;
}
.nav.button {
  width: calc(var(--nav-bar-height) * 0.8 * 1.1);
  height: 80%;
  
  display:flex;
  align-items: center;
  justify-content: center;
  pointer-events: auto;
}
.nav.settingsSymbol, .nav.profileSymbol {
  width: 65%;
  height: 65%;
}
.nav.divider {
  width: 0px;
  height: 75%;
  border-left: 2px solid black;
}


/*--MENU+GAME-----------------------------------------------------------------------*/
menu.container, .game.container {
  width: 100%;
  height: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu.left, .game.left, .game.right {
  pointer-events: auto;
  padding: 0 2%;
}



/*--MENU----------------------------------------------------------------------------*/
.menu.control {
  width: 25vw;
  height: calc(100vh - 200px);
  
  border-radius: 20px;
  background-color: var(--contents-bg-colour);
  background-clip: padding-box;
}


/*--GAME----------------------------------------------------------------------------*/
.game.container {

}


.chat.container, .actions.container {
  width: 25vw;
  height: calc(100vh - 200px);
  padding-top: 40px;
  border-radius: 40px;
  background-color: var(--contents-bg-colour);
  background-clip: padding-box;
}
.chat.container {
  align-items:end;
  justify-content:left;
}
.chat.window {
  height: '80%';
  padding: '10px';
  overflow-y: 'auto';
}
.chat.input {
  display: 'flex';
  margin-top: '10px';
}


.state.container {
  width: 100%;
  height: 15%;
  border-top: 3px solid black;
}
.state.title {
  width: 100%;
  height: 40px;
  padding-top: 10px;
  padding-left: 20px;
  font-size: 30px;
  font-family: 'Tahoma', sans-serif;
}
.state.details {
  padding-top: 0px;
  padding-left: 20px;
  font-size: 20px;
  font-family: 'Tahoma', sans-serif;
}


.actions.container {
  display:flex;
  flex-direction: column;
  color: white;
}
.actions.scroll {
  width: 100%;
  height: calc(85% - 60px);
  justify-content: center;
  overflow-y: auto;
  padding-top: 5px;
  padding-bottom: 10px;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
}
.actions.sign {
  padding-left:3%;
  font-family: 'Tahoma', sans-serif;
  font-size: 30px;
}


.flight.container {
  width: 90%;
  height: 100px;
  margin-left: 2.5%;
  margin-top: 5px;
  padding-top: 10px;

  color: black;
  font-family: 'Tahoma', sans-serif;
  border-radius: 10px;
  border: 3px solid black;
  background-color: white;
  background-image: url('../public/planeTicket.jpg');
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 20px;
  background-size: contain;
}

.flight.top {
  height:10px;
  display: flex;
  justify-content: left;

  background-color: red;
}
.flight.title {
  width: 75%;
  height: 20px;
  padding-left: 10px;
  
  font-size: 30px;
}
.flight.button {
  width: 75px;
  height: 40px;

  border-radius: 10px;
}
.flight.details {
  padding-top: 30px;
  padding-left: 10px;
  font-size: 20px;
}






