:root {
  --nav-bar-height: 50px;
  --contents-bg-colour: rgb(200, 200, 200, 0.4);
}


body {
  font-family: Arial, sans-serif;
  background-clip: padding-box;
  pointer-events: none;
}



.left, .right {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.left {
  justify-content: left;
}
.right {
  justify-content: right;
}




/*--BACKGROUND---------------------------------------------------------------------*/
.background {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
  background-color: black;
}
.menu.background {
  pointer-events: none;
  right: 60%;
  bottom: 40%;
}
.game.background {
  pointer-events: auto;
}
.globe {
  overflow: 'hidden';
}



/*--NAVBAR----------------------------------------*/
.nav.bar {
  width: 100%;
  height: var(--nav-bar-height);
  display: flex;
  align-items: center;
  justify-content: space-between;

  background: linear-gradient(to top, rgba(200, 200, 200, 0.2), rgba(200, 200, 200, 0.4));
  background-clip: padding-box;
}
.nav.left, .nav.right {
  height: 100%;
  gap: 10px;
  padding: 0 20px;
}
.nav.box {
  background-color: white;
  border: 1px solid black;
  border-radius: 4px;
}
.nav.logo {
  width: var(--nav-bar-height);
  height: 80%;

  display: flex;
  align-items: center;
  justify-content: center;
}
.nav.logoSymbol {
  width: 135%;
  height: 135%;
  transform: rotate(-20deg);
}
/* Very 70s of it (credits Charlie)*/
.nav.title {
  width: 240px;
  height: 80%;

  display: flex;
  justify-content: center; /* centers horizontally */
  align-items: center;
  
  white-space: nowrap;
  font-size: 40px;
}
.nav.button {
  width: calc(var(--nav-bar-height) * 0.8 * 1.1);
  height: 80%;
  
  display:flex;
  align-items: center;
  justify-content: center;
  pointer-events: auto;
}
.nav.settingsSymbol, .nav.profileSymbol {
  width: 65%;
  height: 65%;
}
.nav.divider {
  width: 0px;
  height: 75%;
  border-left: 2px solid black;
}


/*--MENU+GAME-----------------------------------------------------------------------*/
.container {
  width: 100%;
  height: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu.left, .game.left, .game.right {
  pointer-events: auto;
  padding: 0 2%;
}



/*--MENU----------------------------------------------------------------------------*/
.menu.control {
  width: 25vw;
  height: calc(100vh - 200px);
  
  border-radius: 20px;
  background-color: var(--contents-bg-colour);
  background-clip: padding-box;
}


/*--GAME----------------------------------------------------------------------------*/
.game.chat, .game.actions {
  border-radius: 20px;
  background-color: var(--contents-bg-colour);
  background-clip: padding-box;
}
.game.chat {
  width: 25vw;
  height: calc(100vh - 200px);
}
.game.actions {
  width: 25vw;
  height: calc(100vh - 200px);
}





