:root {
    --nav-bar-height: 75px;
    --contents-bg-colour: rgba(255, 255, 255, 0.35);
}


body {
    font-family: Arial, sans-serif;
    background-clip: padding-box;
}

.background {
    position: fixed;
    z-index: -1;
    top: 0px;
    left: 0px;
    transform: scale(1.8);
    transform-origin: top left; /* anchor the scaling point */
    
}

.left {
    justify-content: left;
}
.right {
    justify-content: right;
}




/*NAVBAR--------------------------------------------------------------------------------------------*/
.nav.bar {
    width: 100%;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: green;
    background-clip: padding-box;
}
.nav.left, .nav.right {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    gap: 20px;
    padding: 0 20px;
}

.nav.logo {
    width: 75px;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: lightsalmon;
    background-clip: padding-box;
}
.nav.button {
    width: 75px;
    height: 100%;
    background-color: purple;
}
.nav.divider {
    width: 0px;
    height: 75%;
    border-left: 2px solid black;
}



/*CONTENTS------------------------------------------------------------------------------*/
.contents.container {
    width: 100%;
    height: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contents.left, .contents.right {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    
    padding: 0 5%;
}
.contents.play, .contents.options {
    border-radius: 20px;
    background-color: var(--contents-bg-colour);
    background-clip: padding-box;
    box-shadow: none;
}

.contents.play {
    width: 25vw;
    height: calc(100vh - 200px);
}
.contents.options {
    width: 25vw;
    height: calc(100vh - 200px);
}
